<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
    <h1>PyPie Derby!</h1>
    {% for pie in pies %}
    <p><a href="/show/{{pie.id}}">{{pie.name}}</a></p>
    <p>Pie by: {{pie.first_name}}</p>
    <p>Votes: {{pie.votes}}</p>
    {% endfor %}
</body>
</html>