<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="newdojo">
        <h1>New Dojo</h1>
        <form action="/newdojo" method="POST">
            <label for="name">Dojo Name:</label>
            <input type="text" name="name">
            <input type="submit" value="Add Dojo!">
        </form>
    </div>
    <div class="alldojo">
        <h1>All Dojos</h1>
        {% for dojo in all_dojos %}
            <a href="/dojoninjas/{{dojo.id}}">{{dojo.name}}</a>
            <hr>
        {% endfor %}
        <a href="/addninja">Add a Ninja!</a>
    </div>
</body>
</html>