<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/dashboard">Dashboard</a>
    <a href="/addpainting">Add a painting!</a>
    <a href="/logout">Log Out</a>
    <h1>{{painting.title}}</h1>
    <p>Painted by: {{artist.first_name}} {{artist.last_name}}</p>
    <p>Description: {{painting.description}}</p>
    <p>Price: {{painting.price}}</p>
</body>
</html>